<div class="contenedor-flotante">
    <h1>{{titulo}}</h1>
    <button class="btn btn-info" type="button" [routerLink]="['/panel/usuarios/addUsuario']" routerLinkActive="router-link-active" >Nuevo usuario</button>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <th scope="row">{{usuario.idUsuario}}</th>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.apellido}}</td>
          <td>{{usuario.correo}}</td>
          <td><button type="button" class="btn btn-danger" (click)="deleteUser(usuario.idUsuario)">
            eliminar usuario
          </button></td>
        </tr>
      </tbody>
    </table>
    </div>
    
    