.wrap-check-64 .switch {
    display: inline-block;
    height: 24px; 
    position: relative;
    width: 40px; 
}

.wrap-check-64 .switch input {
    display:none;
}

.btn-info{
    margin-bottom: 10px;
    background-color:#1F295B;
    color: white;
    border: none;
}

.contenedor-flotante {
    padding: 3rem;
    border-radius: 20px;
    background: #fff;
    padding: 1rem 1rem;
    box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
}

.wrap-check-64 .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.wrap-check-64 .slider:before {
    background-color: #fff;
    bottom: 3px; 
    content: "";
    height: 18px; 
    left: 3px; 
    position: absolute;
    transition: .4s;
    width: 18px; 
}

.wrap-check-64 input:checked + .slider {
    background-color: #66bb6a;
}

.wrap-check-64 input:checked + .slider:before {
    transform: translateX(16px); 
}

.wrap-check-64 .slider.round {
    border-radius: 24px; 
}

.wrap-check-64 .slider.round:before {
    border-radius: 50%;
}

.table th:nth-child(3) {
    width: 40%;
  }
  
  .table th:nth-child(1).table th:nth-child(2) {
    width: 25%;
  }
  
  .table th:nth-child(4) {
    width: 10%;
  }