<div class="row">
  <div class="col-md-11">
    <label>Modelo</label>
    <div class="input-group mb-3 d-flex">
      <select [formControl]="modeloControl" [disabled]="!institucionId" class="form-select form-select-lg">
        <option value="" [selected]="true" [disabled]="true">Seleccione un modelo...</option>
        <option *ngFor="let modelo of modelos" [value]="modelo.id">
          {{ modelo.descripcion }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-1 mt-4 d-flex justify-content-center">
    <app-crud-button></app-crud-button>
  </div>
</div>