<div class="row">
  <div class="col-md-9">
    <label>Modelo</label>
    <div class="input-group mb-3 d-flex">
      <select [formControl]="modeloControl" [disabled]="!institucionId" class="form-select form-select-lg">
        <option value="" [selected]="true" [disabled]="true">Seleccione un modelo...</option>
        <ng-container *ngFor="let modelo of modelos">
          <option *ngIf="modelo.IdInstitucion == institucionId" [value]="modelo.IdModelo">
            {{ modelo.Detalle }}
          </option>
        </ng-container>
        
      </select>
    </div>
  </div>
</div>