<div class="input-group mb-3 d-flex">
  <label class="input-group-text text-center" style="width: 110px;">Modelo</label>
  <select [formControl]="modeloControl" [disabled]="!institucionId" class="form-select form-select-lg">
    <option value="" [selected]="true" [disabled]="true">Seleccione un modelo...</option>
    <ng-container *ngFor="let modelo of modelos">
      <option *ngIf="modelo.IdInstitucion == institucionId" [value]="modelo.IdModelo">
        {{ modelo.Detalle }}
      </option>
    </ng-container>        
  </select>
</div>