<!--Tabla de datos-->

<table class="table table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col" width="20%">Sub-Criterio</th>
            <th scope="col" width="5%" class="text-center">Orden</th>
            <th scope="col" width="10%" class="text-center">Tipo</th>
            <th scope="col" width="5%" class="text-center">Valoración</th>
            <th scope="col" width="10%" class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let indicador of Indicadores | indicador:filter">
            <tr *ngIf="indicador.Activo == '1'" [class.d-none]="checkboxDeshabilitarValue">
                <td>{{indicador.Detalle}}</td>
                <td>{{getDetalleSubCriterio(indicador.IdSubCriterio)}}</td>
                <td>{{indicador.Orden}}</td>
                <td>{{getDetalleTipoEvaluacion(indicador.IdTipoEvaluacion)}}</td>
                <td>{{getDetalleValoracion(indicador.Valoracion)}}</td>
                <td>
                    <div class="d-flex justify-content-evenly">
                        <!--Boton Editar-->
                        <span class="material-symbols-outlined icon-size" data-bs-toggle="modal" data-bs-target="#editModalIndicador">edit</span>
                        <!--Boton Eliminar-->
                        <span class="material-symbols-outlined icon-size" data-bs-toggle="modal" data-bs-target="#deleteModalIndicador">delete</span>
                    </div>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>