<div class="contenedor-flotante">
    <div class="text-end">
        <div class="header-contenedor">
            <h3>Evidencias de los Elemento Fundamentales</h3>
        </div>
        <div class="contenedor-options">
            <div class="select-div">
                <div class="restore-filter" (click)="tablafilter.get('filter')?.setValue('0'); valueFilter = '0'">
                    <span class="material-symbols-outlined">delete</span>
                </div>
                <div class="select-filter">
                    <form [formGroup]="tablafilter" class="select-filter">
                        <select class="form-control select-filter" formControlName="filter" (change)="OnChangeFilter()">
                            <option value="" selected disabled>Filtrado por Elemento Fundamental</option>
                            <option value="0">Todos los Elementos Fundamentales</option>
                            <ng-container *ngFor="let filtro of Elementos">
                                <option [value]="filtro.IdElemento">{{filtro.Detalle!.length>150 ? filtro.Detalle?.substring(0,150)+'...':filtro.Detalle}}</option>
                            </ng-container>
                        </select>
                    </form>
                </div>
            </div>
            <div class="contenedor-botones">
                <div class="contenedor-toggle">
                    <span>Desabilitados</span>
                    <div class="contenedor-button_toggle">
                        <input type="checkbox" [(ngModel)]="checkboxDeshabilitarValue" class="input-check" value="" id="TablaDelete">
                        <label for="TablaDelete" class="button-toggle"></label> 
                    </div>
                </div>
                <div class="btn-custom">
                    <!--Boton Agregar-->
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#crearModalEvidencia" (click)="setElemento()">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Tabla de datos-->
    <div class="table-wrapper">
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col" width="40%"><input type="search" class="buscador" [(ngModel)]="filter" placeholder="Descripción"></th>
                    <th scope="col" width="40%">ElementoFundamental</th>
                    <th scope="col" width="5%" class="text-center">Orden</th>
                    <th scope="col" width="5%" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let evidencia of Evidencias | evidencia:filter">
                    <ng-container *ngIf="valueFilter == '0'|| evidencia.IdElemento == valueFilter">
                        <tr *ngIf="(evidencia.Activo == '1' && !checkboxDeshabilitarValue) || (evidencia.Activo == '0' && checkboxDeshabilitarValue)" [class.table-danger]="evidencia.Activo == '0'">
                            <td>{{evidencia.Detalle}}</td>
                                <td>{{getDetalleElemento(evidencia.IdElemento)}}</td>
                                <td class="text-center">{{evidencia.Orden}}</td>
                                <td>
                                    <div class="d-flex justify-content-evenly">
                                <ng-container *ngIf="evidencia.Activo == '1'">
                                    <!-- Botón Editar -->
                                    <span class="material-symbols-outlined icon-size" 
                                        data-bs-toggle="modal" data-bs-target="#editModalEvidencia" 
                                        (click)="setPreEditar(evidencia)">edit</span>
                                    <!-- Botón Eliminar -->
                                    <app-tabla-eliminar-modal [handlerEliminar]="'evidencia'" [objetoEliminar]="evidencia"></app-tabla-eliminar-modal>
                                </ng-container>
                                <ng-container *ngIf="evidencia.Activo == '0'">
                                    <!-- Botón Restaurar -->
                                    <app-tabla-restablecer-modal [idRestablecer]="evidencia" [objetoRestablecer]="'evidencia'"></app-tabla-restablecer-modal>
                                </ng-container>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<!--Agregar Modal-->
<div class="modal fade" id="crearModalEvidencia" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Evidencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->
                <div class="container">
                    <form [formGroup]="agregar">
                        <div class="mb-3">
                            <label class="form-label">Elemento</label>
                            <select formControlName="elemento" class="form-control" >
                                <option value="" selected disabled >Elementos Fundamentales...</option>
                                <ng-container *ngFor="let elemento of Elementos">
                                    <option *ngIf="elemento.Activo == '1'" [value]="elemento.IdElemento">{{elemento.Detalle}}</option>
                                </ng-container>
                            </select>
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('elemento')?.errors?.['pattern'] && agregar.get('elemento')?.touched">El elemento es <strong>requerido</strong></span>
                        </div>
                        <div class="mb-3">
                            <label for="DetalleAgregar" class="form-label">Evidencia</label>
                            <textarea type="" class="form-control" id="DetalleAgregar" cols="25" rows="5" formControlName="detalle" placeholder="Detalle de la Evidencia..."></textarea>
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('detalle')?.errors?.['required'] && agregar.get('detalle')?.touched">El detalle es <strong>requerido</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('detalle')?.errors?.['minlength'] && agregar.get('detalle')?.touched">El detalle debe tener minimo<strong> 5 caracteres</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('detalle')?.errors?.['maxlength'] && agregar.get('detalle')?.touched">El detalle debe tener un máximo de<strong> 300 caracteres</strong></span>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Orden</label>
                            <input type="number" class="form-control" formControlName="orden" placeholder="1, 2, 3...">
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('orden')?.errors?.['required'] && agregar.get('orden')?.touched">El orden del criterio es <strong>requerido</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('orden')?.errors?.['pattern'] && agregar.get('orden')?.touched">El orden solo puede contener <strong>números enteros</strong></span>
                        </div>
                    </form>
                </div>
                <!--Fin Contenido Modal-->
            </div>
            <!--Botones modal-->
            <div class="modal-footer">
                <button #cerrarAgregarModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <div class="btn-custom">
                    <button type="button" class="btn" (click)="agregarEvidencia()" [disabled]="agregar.invalid">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Editar Modal-->
<div class="modal fade" id="editModalEvidencia" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Evidencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->
                <div class="container">
                    <form [formGroup]="editar">  
                        <input type="text" hidden formControlName="id">   
                        <div class="mb-3">
                            <label class="form-label">Evidencia</label>
                            <select formControlName="elemento" class="form-control" >
                                <option value="" selected disabled >Elementos Fundamentales...</option>
                                <ng-container *ngFor="let elemento of Elementos">
                                    <option *ngIf="elemento.Activo == '1'" [value]="elemento.IdIndicador">{{elemento.Detalle}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="DetalleAgregar" class="form-label">Evidencia</label>
                            <textarea type="" class="form-control" id="DetalleAgregar" cols="25" rows="5" formControlName="detalle" placeholder="Detalle la evidencia..."></textarea>
                            <span class="text-danger ml-5 mt-2" *ngIf="editar.get('detalle')?.errors?.['required'] && editar.get('detalle')?.touched">El detalle es <strong>requerido</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="editar.get('detalle')?.errors?.['minlength'] && editar.get('detalle')?.valueChanges && editar.get('detalle')?.valueChanges">El detalle debe tener minimo<strong> 10 caracteres</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="editar.get('detalle')?.errors?.['maxlength'] && editar.get('detalle')?.touched">El detalle debe tener un máximo de<strong> 300 caracteres</strong></span>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Orden</label>
                            <input type="number" class="form-control" formControlName="orden" placeholder="1, 2, 3...">
                            <span class="text-danger ml-5 mt-2" *ngIf="editar.get('orden')?.errors?.['required'] && editar.get('orden')?.touched">El orden del criterio es <strong>requerido</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="editar.get('orden')?.errors?.['pattern'] && editar.get('orden')?.touched">El orden solo puede contener <strong>números enteros</strong></span>
                        </div>
                    </form>
                </div>
                <!--Fin Contenido Modal-->
            </div>
            <div class="modal-footer">
                <button #cerrarEditarModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <div class="btn-custom">
                    <button type="button" class="btn" (click)="editarEvidencia()" [disabled]="editar.invalid">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>