<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-md-9">

      <h2 class="text-center"> Universidad de Especialidades Turísticas</h2>

      <form [formGroup]="selects">

          <div class="input-group mb-3">
            <label class="input-group-text" style="width: 110px;">Modelo</label>
            <select formControlName="modelo" class="form-select form-select-lg" (change)="modeloChange()">
                <option value="" [selected]="true" [disabled]="true">Seleccione un Modelo...</option>
                <ng-container *ngFor="let modelo of modelos">
                    <option *ngIf="modelo.IdInstitucion == institucionID" [value]="modelo.IdModelo">{{modelo.Detalle}}</option>
                </ng-container>
            </select>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" style="width: 110px;">Criterio</label>
            <select formControlName="criterio" class="form-select form-select-lg" (change)="criterioChange()">
              <option value="" [selected]="true" [disabled]="true">Seleccione un Criterio...</option>
              <ng-container *ngFor="let criterio of criterios">
                  <option *ngIf="criterio.IdModelo == modeloId" [value]="criterio.IdCriterio">{{criterio.Detalle}}</option>
              </ng-container>
            </select>
          </div>
          
          <div class="input-group mb-3">
            <label class="input-group-text" style="width: 110px;">Sub-Criterio</label>
            <select formControlName="subcriterio" class="form-select form-select-lg" (change)="subcriterioChange()">
                <option value="" [selected]="true" [disabled]="true">Seleccione un Sub-Criterio...</option>
                <ng-container *ngFor="let subCriterio of subCriterios">
                    <option *ngIf="subCriterio.IdCriterio == criterioId" [value]="subCriterio.IdSubcriterio">{{subCriterio.Detalle}}</option>
                </ng-container>
            </select>
          </div>

          <button type="submit" (click)="onSubmit()" [disabled]="selects.invalid" class="btn btn-primary">Mostrar Indicadores</button>
        </form>

      </div>
      <div class="mt-4">
        <ng-container *ngIf="displayIndicador">
          <app-select-control [IdSubCriterio]="subcriterioId"></app-select-control>
        </ng-container>
      </div>
  </div>
</div>
