<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-md-9">
      <form [formGroup]="selects" (ngSubmit)="onSubmit()">
          <div>
            <select formControlName="modelo" (change)="modeloChange()">
                <option value="" [selected]="true" [disabled]="true">seleccione m</option>
                <ng-container *ngFor="let modelo of modelos">
                    <option *ngIf="modelo.IdInstitucion == institucionID" [value]="modelo.IdModelo">{{modelo.Detalle}}</option>
                </ng-container>
            </select>
          </div>

          <div>
            <select formControlName="criterio" (change)="criterioChange()">
                <option value="" [selected]="true" [disabled]="true">seleccione c</option>
                <ng-container *ngFor="let criterio of criterios">
                    <option *ngIf="criterio.IdModelo == modeloId" [value]="criterio.IdCriterio">{{criterio.Detalle}}</option>
                </ng-container>
            </select>
          </div>
          
          <div>
            <select formControlName="subcriterio" (change)="subcriterioChange()">
                <option value="" [selected]="true" [disabled]="true">seleccione s</option>
                <ng-container *ngFor="let subCriterio of subCriterios">
                    <option *ngIf="subCriterio.IdCriterio == criterioId" [value]="subCriterio.IdSubcriterio">{{subCriterio.Detalle}}</option>
                </ng-container>
            </select>
          </div>

          <button type="submit" [disabled]="selects.invalid">Mostrar Indicadores</button>
        </form>

        <ng-container >
          <app-select-control></app-select-control>
        </ng-container>
    </div>
  </div>
</div>
