<div class="contenedor-flotante">
    <div class="header-contenedor">
        <h3>Elementos Fundamentales</h3>
    </div>
    <div class="text-end">
        <div class="contenedor-options">
            <div class="select-div">
                <div class="restore-filter" (click)="tablafilter.get('filter')?.setValue('0'); valueFilter = '0'">
                    <span class="material-symbols-outlined">delete</span>
                </div>
                <div class="select-filter">
                    <form [formGroup]="tablafilter" class="select-filter">
                        <select class="form-control select-filter" formControlName="filter" (change)="OnChangeFilter()">
                            <option value="" selected disabled>Filtrado por Indicador</option>
                            <option value="0">Todos los Indicadores</option>
                            <ng-container *ngFor="let filtro of Indicadores">
                                <option [value]="filtro.IdIndicador">{{filtro.Detalle}}</option>
                            </ng-container>
                        </select>
                    </form>
                </div>
            </div>
            <div class="contenedor-botones">
                <div class="contenedor-toggle">
                    <span>Desabilitados</span>
                    <div class="contenedor-button_toggle">
                        <input type="checkbox" [(ngModel)]="checkboxDeshabilitarValue" class="input-check" value="" id="TablaDelete">
                        <label for="TablaDelete" class="button-toggle"></label> 
                    </div>
                </div>
                <div class="btn-custom">
                    <!--Boton Agregar-->
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#crearModalElemento" (click)="setIndicador()">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Tabla de datos-->
    <div class="table-wrapper">
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col" width="52%"><input type="search" class="buscador" [(ngModel)]="filter" placeholder="Descripción"></th>
                    <th scope="col" width="25%">Indicador</th>
                    <th scope="col" width="10%" class="text-center">Ponderación</th>
                    <th scope="col" width="5%" class="text-center">Orden</th>
                    <th scope="col" width="7%" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let elemento of Elementos | elemento:filter">
                    <ng-container *ngIf="valueFilter == '0'|| elemento.IdIndicador == valueFilter">
                        <tr *ngIf="(elemento.Activo == '1' && !checkboxDeshabilitarValue) || (elemento.Activo == '0' && checkboxDeshabilitarValue)" [class.table-danger]="elemento.Activo == '0'">
                            <td>{{elemento.Detalle}}</td>
                            <td>{{getDetalleIndicador(elemento.IdIndicador)}}</td>
                            <td class="text-center">{{getDetallePonderacion(elemento.IdPonderacion)}}</td>
                            <td>{{elemento.Orden}}</td>
                            <td>
                                <div class="d-flex justify-content-evenly">
                                    <ng-container *ngIf="elemento.Activo == '1'">
                                        <!-- Botón Editar -->
                                        <span class="material-symbols-outlined icon-size" data-bs-toggle="modal" data-bs-target="#editModalElemento" 
                                        (click)="setPreEditar(elemento)">edit</span>
                                        <!-- Botón Eliminar -->
                                        <app-tabla-eliminar-modal [handlerEliminar]="'elemento'" [objetoEliminar]="elemento"></app-tabla-eliminar-modal>
                                        <!--Buscar con filtro-->
                                        <span class="material-symbols-outlined icon-size" (click)="navegarFiltro(elemento.IdElemento)">turn_right</span>
                                    </ng-container>
                                    <ng-container *ngIf="elemento.Activo == '0'">
                                        <!-- Botón Restaurar -->
                                        <app-tabla-restablecer-modal [idRestablecer]="elemento" [objetoRestablecer]="'elemento'"></app-tabla-restablecer-modal>
                                    </ng-container>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<!--Agregar Modal-->
<div class="modal fade" id="crearModalElemento" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Indicador</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->
                <div class="container">      
                    <form [formGroup]="agregar">
                        <div class="mb-3">
                            <label class="form-label">Indicador</label>
                            <select formControlName="indicador" class="form-control" >
                                <option value="0" selected disabled >Indicadores...</option>
                                <ng-container *ngFor="let indicador of Indicadores">
                                    <option *ngIf="indicador.Activo == '1'" [value]="indicador.IdIndicador">{{indicador.Detalle}}</option>
                                </ng-container>
                            </select>
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('indicador')?.errors?.['pattern'] && agregar.get('indicador')?.touched">El indicador es <strong>requerido</strong></span>
                        </div>
                        <div class="mb-3">
                            <label for="DetalleAgregar" class="form-label">Elemento Fundamental</label>
                            <textarea type="" class="form-control" id="DetalleAgregar" cols="25" rows="5" formControlName="detalle" placeholder="Detalle del Elemento Fundamental..."></textarea>
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('detalle')?.errors?.['required'] && agregar.get('detalle')?.touched">El detalle es <strong>requerido</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('detalle')?.errors?.['minlength'] && agregar.get('detalle')?.touched">El detalle debe tener minimo<strong> 5 caracteres</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('detalle')?.errors?.['maxlength'] && agregar.get('detalle')?.touched">El detalle debe tener un máximo de<strong> 300 caracteres</strong></span>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Ponderación</label>
                            <ng-container *ngFor="let tipo of Ponderaciones">
                                <div class="d-flex mx-4">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="ponderacionAdd" formControlName="ponderacionAdd" [value]="tipo.IdPonderacion">
                                        <label for="" class="form-check-label">{{tipo.Detalle}} </label>
                                    </div>
                                </div>
                            </ng-container>
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('ponderacionAdd')?.errors?.['required'] && agregar.get('ponderacionAdd')?.touched">El la ponderacion es <strong>requerido</strong></span>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Orden</label>
                            <input type="number" class="form-control" formControlName="orden" placeholder="1, 2, 3...">
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('orden')?.errors?.['required'] && agregar.get('orden')?.touched">El orden del criterio es <strong>requerido</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="agregar.get('orden')?.errors?.['pattern'] && agregar.get('orden')?.touched">El orden solo puede contener <strong>números enteros</strong></span>
                        </div>
                    </form>
                </div>
                <!--Fin Contenido Modal-->
            </div>
            <!--Botones modal-->
            <div class="modal-footer">
                <button #cerrarAgregarModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <div class="btn-custom">
                    <button type="button" class="btn" (click)="agregarElemento()" [disabled]="agregar.invalid">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Editar Modal-->
<div class="modal fade" id="editModalElemento" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Indicador</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->
                <div class="container">
                    <form [formGroup]="editar">  
                        <input type="text" hidden formControlName="id">   
                        <div class="mb-3">
                            <label class="form-label">Indicador</label>
                            <select formControlName="indicador" class="form-control" >
                                <option value="" selected disabled >Indicadores...</option>
                                <ng-container *ngFor="let indicador of Indicadores">
                                    <option *ngIf="indicador.Activo == '1'" [value]="indicador.IdIndicador">{{indicador.Detalle}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="DetalleAgregar" class="form-label">Detalle</label>
                            <textarea type="textarea" class="form-control" id="DetalleAgregar" cols="25" rows="5" formControlName="detalle" placeholder="Detalle del Elemento Fundamental..."></textarea>
                            <span class="text-danger ml-5 mt-2" *ngIf="editar.get('detalle')?.errors?.['required'] && editar.get('detalle')?.touched">El detalle es <strong>requerido</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="editar.get('detalle')?.errors?.['minlength'] && editar.get('detalle')?.valueChanges && editar.get('detalle')?.valueChanges">El detalle debe tener minimo<strong> 10 caracteres</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="editar.get('detalle')?.errors?.['maxlength'] && editar.get('detalle')?.touched">El detalle debe tener un máximo de<strong> 300 caracteres</strong></span>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Ponderación</label>
                            <ng-container *ngFor="let tipo of Ponderaciones">
                                <div class="d-flex mx-4">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="ponderacionEdit" formControlName="ponderacionEdit" [value]="tipo.IdPonderacion">
                                        <label for="" class="form-check-label">{{tipo.Detalle}} </label>
                                    </div>
                                </div>
                            </ng-container>
                            <span class="text-danger ml-5 mt-2" *ngIf="editar.get('ponderacionEdit')?.errors?.['required'] && editar.get('ponderacionEdit')?.touched">La ponderacion es <strong>requerida</strong></span>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Orden</label>
                            <input type="number" class="form-control" formControlName="orden" placeholder="1, 2, 3...">
                            <span class="text-danger ml-5 mt-2" *ngIf="editar.get('orden')?.errors?.['required'] && editar.get('orden')?.touched">El orden del criterio es <strong>requerido</strong></span>
                            <span class="text-danger ml-5 mt-2" *ngIf="editar.get('orden')?.errors?.['pattern'] && editar.get('orden')?.touched">El orden solo puede contener <strong>números enteros</strong></span>
                        </div>
                    </form>
                </div>
                <!--Fin Contenido Modal-->
            </div>
            <div class="modal-footer">
                <button #cerrarEditarModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <div class="btn-custom">
                    <button type="button" class="btn" (click)="editarElemento()" [disabled]="editar.invalid">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>