<div class="contenedor-flotante">
    <div class="text-end">
        <div class="form-group buscador mb-2">
            <input type="search" class="form-control" [(ngModel)]="filter" placeholder="Busque por nombre">
            <button [ngClass]="moreSettings ? 'selected-button': 'unselected-button'" (click)="moreSettingsHandler()">
                <span class="material-symbols-outlined">filter_list</span>
            </button>
        </div>
        <div class="contenedor-options"[ngClass]="moreSettings ? 'contenedor-options_show': 'contenedor-options_hidden'">
            <div class="select-div">
                <div class="select-filter">
                    <form [formGroup]="tablafilter" class="select-filter">
                        <select class="form-control select-filter" formControlName="filter" (change)="OnChangeFilter()">
                            <option value="" selected disabled>Filtrado por Indicador</option>
                            <option value="0">Todos los Indicadores</option>
                            <ng-container *ngFor="let filtro of Indicadores">
                                <option [value]="filtro.IdIndicador">{{filtro.Detalle}}</option>
                            </ng-container>
                        </select>
                    </form>
                </div>
                <div class="restore-filter" (click)="tablafilter.get('filter')?.setValue('0'); valueFilter = '0'">
                    <span class="material-symbols-outlined">settings_backup_restore</span>
                </div>
            </div>
            <div class="contenedor-botones">
                <div class="contenedor-toggle">
                    <span>Desabilitados</span>
                    <div class="contenedor-button_toggle">
                        <input type="checkbox" [(ngModel)]="checkboxDeshabilitarValue" class="input-check" value="" id="TablaDelete">
                        <label for="TablaDelete" class="button-toggle"></label> 
                    </div>
                </div>
                <div class="btn-custom">
                    <!--Boton Agregar-->
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#crearModalElemento">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Tabla de datos-->
    <div class="table-wrapper">
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col" width="20%">Indicador</th>
                    <th scope="col" width="10%" class="text-center">Ponderación</th>
                    <th scope="col" width="5%" class="text-center">Orden</th>
                    <th scope="col" width="10%" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="valueFilter == '0'">
                    <ng-container *ngFor="let elemento of Elementos | elemento:filter">
                        <tr *ngIf="elemento.Activo == '1'" [class.d-none]="checkboxDeshabilitarValue">
                            <td>{{elemento.Detalle}}</td>
                            <td>{{getDetalleIndicador(elemento.IdIndicador)}}</td>
                            <td class="text-center">{{getDetallePonderacion(elemento.IdPonderacion)}}</td>
                            <td>{{elemento.Orden}}</td>
                            <td>
                                <div class="d-flex justify-content-evenly">
                                    <!--Boton Editar-->
                                    <span class="material-symbols-outlined icon-size" data-bs-toggle="modal" data-bs-target="#editModalElemento" (click)="setPreEditar(elemento)">edit</span>
                                    <!--Boton Eliminar-->
                                    <span class="material-symbols-outlined icon-size" data-bs-toggle="modal" data-bs-target="#deleteModalElemento" (click)="setPreEliminar(elemento)">delete</span>
                                </div>
                            </td>
                        </tr>
                        <ng-container *ngIf="checkboxDeshabilitarValue">
                            <tr *ngIf="elemento.Activo == '0'" class="table-danger">
                                <td>{{elemento.Detalle}}</td>
                                <td>{{getDetalleIndicador(elemento.IdIndicador)}}</td>
                                <td class="text-center">{{getDetallePonderacion(elemento.IdPonderacion)}}</td>
                                <td>{{elemento.Orden}}</td>
                                <td>
                                    <div class="d-flex justify-content-evenly">
                                        <span class="material-symbols-outlined icon-size" data-bs-toggle="modal" data-bs-target="#restablecerModalElemento" (click)="setPreRestablecer(elemento)">history</span>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="valueFilter != '0'">
                    <ng-container *ngFor="let elemento of Elementos | elemento:filter">
                        <ng-container *ngIf="elemento.IdIndicador == valueFilter">
                        <tr *ngIf="elemento.Activo == '1'" [class.d-none]="checkboxDeshabilitarValue">
                            <td>{{elemento.Detalle}}</td>
                            <td>{{getDetalleIndicador(elemento.IdIndicador)}}</td>
                            <td class="text-center">{{getDetallePonderacion(elemento.IdPonderacion)}}</td>
                            <td>{{elemento.Orden}}</td>
                            <td>
                                <div class="d-flex justify-content-evenly">
                                    <!--Boton Editar-->
                                    <span class="material-symbols-outlined icon-size" data-bs-toggle="modal" data-bs-target="#editModalElemento" (click)="setPreEditar(elemento)">edit</span>
                                    <!--Boton Eliminar-->
                                    <span class="material-symbols-outlined icon-size" data-bs-toggle="modal" data-bs-target="#deleteModalElemento" (click)="setPreEliminar(elemento)">delete</span>
                                </div>
                            </td>
                        </tr>
                        <ng-container *ngIf="checkboxDeshabilitarValue">
                            <tr *ngIf="elemento.Activo == '0'" class="table-danger">
                                <td>{{elemento.Detalle}}</td>
                                <td>{{getDetalleIndicador(elemento.IdIndicador)}}</td>
                                <td class="text-center">{{getDetallePonderacion(elemento.IdPonderacion)}}</td>
                                <td>{{elemento.Orden}}</td>
                                <td>
                                    <div class="d-flex justify-content-evenly">
                                        <span class="material-symbols-outlined icon-size" data-bs-toggle="modal" data-bs-target="#restablecerModalElemento" (click)="setPreRestablecer(elemento)">history</span>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>

<!--Agregar Modal-->
<div class="modal fade" id="crearModalElemento" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Indicador</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->
                <div class="container">
                    
                    <form [formGroup]="agregar">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label text-center">Indicador</label>
                            <div class="col-sm-10">
                                <select formControlName="indicador" class="form-control" >
                                    <option value="" selected disabled >Indicadores...</option>
                                    <ng-container *ngFor="let indicador of Indicadores">
                                        <option *ngIf="indicador.Activo == '1'" [value]="indicador.IdIndicador">{{indicador.Detalle}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="DetalleAgregar" class="col-sm-2 col-form-label text-start">Descripción</label>
                            <div class="col-sm-10 ml-1">
                                <textarea type="" class="form-control" id="DetalleAgregar" cols="25" rows="5" formControlName="detalle" placeholder="Descripción del Elemento Fundamental..."></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="" class="col-sm-2 col-form-label text-center">Ponderación</label>
                            <div class="col-sm-10 mt-2">
                            <ng-container *ngFor="let tipo of Ponderaciones">
                                <div class="d-flex mx-4">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="ponderacionAdd" formControlName="ponderacionAdd" [value]="tipo.IdPonderacion">
                                        <label for="" class="form-check-label">{{tipo.Detalle}} </label>
                                    </div>
                                </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="" class="col-sm-2 col-form-label text-center">Orden</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" formControlName="orden" placeholder="0">
                            </div>
                        </div>
                    </form>
                    
                </div>
                <!--Fin Contenido Modal-->
            </div>
            <!--Botones modal-->
            <div class="modal-footer">
                <button #cerrarAgregarModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="agregarElemento()" [disabled]="agregar.invalid">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!--Editar Modal-->
<div class="modal fade" id="editModalElemento" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Indicador</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->

                <div class="container">
                    <form [formGroup]="editar">  
                        <input type="text" readonly class="d-none" id="IdEditar" formControlName="id" value="id">   

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label text-center">Indicador</label>
                            <div class="col-sm-10">
                                <select formControlName="indicador" class="form-control" >
                                    <option value="" selected disabled >Indicadores...</option>
                                    <ng-container *ngFor="let indicador of Indicadores">
                                        <option *ngIf="indicador.Activo == '1'" [value]="indicador.IdIndicador">{{indicador.Detalle}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="DetalleAgregar" class="col-sm-2 col-form-label text-start">Descripción</label>
                            <div class="col-sm-10 ml-1">
                                <textarea type="" class="form-control" id="DetalleAgregar" cols="25" rows="5" formControlName="detalle" placeholder="Descripción del Elemento Fundamental..."></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="" class="col-sm-2 col-form-label text-center">Ponderación</label>
                            <div class="col-sm-10 mt-2">
                            <ng-container *ngFor="let tipo of Ponderaciones">
                                <div class="d-flex mx-4">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="ponderacionEdit" formControlName="ponderacionEdit" [value]="tipo.IdPonderacion">
                                        <label for="" class="form-check-label">{{tipo.Detalle}} </label>
                                    </div>
                                </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="" class="col-sm-2 col-form-label text-center">Orden</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" formControlName="orden" placeholder="0">
                            </div>
                        </div>
                    </form>
                </div>

                <!--Fin Contenido Modal-->
            </div>
            <div class="modal-footer">
                <button #cerrarEditarModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="editarElemento()">Editar</button>
            </div>
        </div>
    </div>
</div>

<!--Borrar Modal-->
<div class="modal fade" id="deleteModalElemento" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Deshabilitar Elemento Fundamental</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->

                <h3>Elemento Fundamental</h3>

                <form [formGroup]="eliminar">   
                    <input type="text" readonly class="d-none" id="IdEditar" formControlName="id" value="id"> 
                    <div class="mb-3 row text-end">
                        <label for="DetalleEditar" class="col-sm-3 col-form-label text-center">Descripción</label>
                        <div class="col-sm-9">
                            <textarea readonly class="form-control-plaintext" id="DetalleEditar" formControlName="detalle" placeholder="Infraestructura Básica" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row text-end">
                        <label for="" class="col-sm-3 col-form-label text-center">Indicador</label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext" id="" formControlName="indicador" placeholder="Criterio">
                        </div>
                    </div>
                    <div class="mb-3 row text-end">
                        <label for="ordenEditar" class="col-sm-3 col-form-label text-center">Ponderación</label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext" id="ordenEditar" formControlName="ponderacion" placeholder="1,2,3...">
                        </div>
                    </div> 
                    <div class="mb-3 row text-end">
                        <label for="ordenEditar" class="col-sm-3 col-form-label text-center">Orden</label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext" id="ordenEditar" formControlName="orden" placeholder="1,2,3...">
                        </div>
                    </div>  
                </form>

                <p class="text-danger">Usted esta por deshabilitar este Indicador, tenga en cuenta que más tarde podra recuperar esta información más adelante.</p>

                <!--Fin Contenido Modal-->
            </div>
            <div class="modal-footer">
                <button #cerrarEliminarModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" (click)="eliminarElemento()">Deshabilitar</button>
            </div>
        </div>
    </div>
</div>

<!--Restablecer Modal-->
<div class="modal fade" id="restablecerModalElemento" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Restablecer Indicador</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->

                <p class="text-success">Usted esta por restablecer este Indicador, podrá volver a verlo en el panel principal</p>

                <!--Fin Contenido Modal-->
            </div>
            <div class="modal-footer">
                <button #cerrarRestablecerModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success " (click)="restablecerElemento()">Restablecer</button>
            </div>
        </div>
    </div>
</div>