<div class="main-container d-flex">
    <app-sidebar></app-sidebar>
    <div class="content">
        <app-navbar></app-navbar>
        <div class="container mt-4">
            <div class="contenedor-flotante">
                <div class="error-message">
                    <h1>Acceso denegado</h1>
                    <p>Lo sentimos, no está autorizado para acceder a esta página</p>
                </div>
                <div class="button-container">
                    <a href="/inicio" class="button">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>  