<div class="input-group mb-3">
  <label class="input-group-text" style="width: 110px;" for="select">Sub Criterio</label>
  <select id="select" [formControl]="subCriterioControl" [disabled]="!criterioId" class="form-select form-select-lg">
    <option value="" [selected]="true" [disabled]="true">Seleccione un sub criterio...</option>
    <ng-container *ngFor="let subCriterio of subCriterios">
      <option *ngIf="subCriterio.IdCriterio == criterioId" [value]="subCriterio.IdSubcriterio">
        {{ subCriterio.Detalle }}
      </option>
    </ng-container>
  </select>
</div>