<form [formGroup]="elementForm" (ngSubmit)="onSubmit()">
  
  <div class="form-group mt-3 mb-2">
    <label class="form-label" for="detalle">Nombre {{identificator}}</label>
      <input 
      type="text" 
      class="form-control" 
      id="detalle" 
      placeholder="{{transformPlaceHolde(identificator)}}"
      formControlName="detalle"
      >
    
      <span class="text-danger ml-1"
      *ngIf="elementForm.get('detalle')?.errors?.['required'] && elementForm.get('detalle')?.touched">  
      El nombre es <strong>requerida!</strong>
      <br>
      </span>
      <span class="{{elementForm.get('detalle')?.errors?.['minlength'] ? 'text-secondary' : 'text-success'}} ml-1">
        El nombre debe tener minimo <strong>10 caracteres!</strong>
        <br>
        <br>
      </span>

      <label class="form-label" for="siglas">Siglas {{identificator}}</label>
      <input 
      type="text" 
      class="form-control" 
      id="siglas" 
      placeholder="{{'Siglas ' + identificator.toUpperCase()}}"
      formControlName="siglas"
      >
    
      <span class="text-danger ml-1"
      *ngIf="elementForm.get('siglas')?.errors?.['required'] && elementForm.get('siglas')?.touched">  
      Las siglas son <strong>requeridas!</strong>
      </span>

  </div>

  <button type="submit" class="btn btn-primary mt-4" [disabled]="elementForm.invalid">Crear {{identificator}}</button>
  
  <!--No visible en el componente-->
  <button #CloseBtn type="button" class="btn-close d-none" data-bs-dismiss="modal" aria-label="Close" ></button>

</form>
