<div class="contenedor-flotante">
    <div class="row justify-content-center">
      <div class="col-md-9">
  
        <div class="d-flex justify-content-center">
          <div class="contenedor-titulo">
            <h3 class="text-center">Subida de Evidencias</h3>
          </div>
        </div>
  
        <form [formGroup]="selects">
       
          <div class="input-group mb-3">
            <label class="input-group-text">Criterio</label>
            <select formControlName="criterio" class="form-select" (change)="criterioChange()">
              <option value="" selected disabled>Seleccione un Criterio...</option>
              <ng-container *ngFor="let criterio of criterios">
                  <option [value]="criterio.IdCriterio">{{criterio.Detalle}}</option>
              </ng-container>
            </select>
          </div>
        
          <div class="input-group mb-3">
            <label class="input-group-text">Sub-Criterio</label>
            <select formControlName="subcriterio" class="form-select" (change)="subcriterioChange()">
                <option value="" selected disabled>Seleccione un Sub-Criterio...</option>
                <ng-container *ngFor="let subCriterio of subCriterios">
                    <option [value]="subCriterio.IdSubCriterio">{{subCriterio.Detalle}}</option>
                </ng-container>
            </select>
          </div>
        
          <div class="btn-custom">
            <button type="submit" (click)="onSubmit()" [disabled]="disabledButton" class="btn">Mostrar Indicadores</button>
          </div>
            
        </form>
        
        <div class="mt-4">
          <ng-container *ngIf="displayIndicador">
            <app-indicador-table [IdSubCriterio]="subcriterioId" [redireccionRol]="componenteRol"></app-indicador-table>
          </ng-container>
        </div>
    </div>
  </div>