<div class="container">
    <div class="contenedor-pactivo">
        <div class="label-periodo-activo">
            <label for="" class="">Periodo Activo</label>
        </div>
        <div class="input-periodo-activo">
            <ng-container *ngFor="let periodo of Periodos">
                <ng-container *ngIf="periodo.Activo == '1'">
                    <input type="text" readonly class="form-control-plaintext contenedor-input fs-5" [value]="periodo.Detalle">
                </ng-container>
            </ng-container>
        </div>
        <div class="span-periodo-activo">
            <div class="d-flex justify-content-center">
                <div class="align-items-center">
                    <div class="contenedor-editbtn">
                        <span class="material-symbols-outlined icon-size" (click)="toggleEditMenu()">edit</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="animate-body" [ngStyle]="{'max-height': toggleCambioPeriodo ? '300px' : '0'}">
        <hr>
        <p class="fw-bolder">Establezca el nuevo periodo activo</p>
        <div class="row">
            <div class="col-lg-2 mb-2">
                <span class="col-form-label">Periodos disponibles</span>
            </div>
            <div class="col-lg-10 mb-2">
                <form [formGroup]="cambiar">
                    <ng-container *ngFor="let tipo of Periodos">
                        <ng-container *ngIf="tipo.Activo != '1'">
                            <div class="d-flex mx-4">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="idPeriodo" formControlName="idPeriodo" [value]="tipo.IdPeriodo">
                                    <label for="" class="form-check-label">{{tipo.Detalle}} </label>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </form>
            </div>
            <div class="contenedor-btn">
                <button class="btn btn-custom" [ngClass]="cambiar.invalid ? 'btn-invalid': ''"  (click)="cambiarPeriodo()" [disabled]="cambiar.invalid">Aplicar</button>
            </div>
        </div>
    </div>
</div>