.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
  }

.icon-size:hover {
      font-variation-settings:
      'FILL' 0,
      'wght' 700,
      'GRAD' 0,
      'opsz' 48
}
  
.icon-size {
      color: rgb(0, 0, 0);
      cursor: pointer;
      font-size: 30px;
}

span {
      margin: 0;
}

.contenedor-editbtn{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      padding: .2rem;
      border-radius: 10px;
}

.animate-body {
      transition: 0.3s ease-out;
      overflow: hidden;
  }

  .btn-custom {
      background: #1F295B;
      color: white;
      width: 100%;
  }
  
  .btn-invalid {
      background: hsla(228, 30%, 63%, 0.726);
      border: none;
  }

  .contenedor-btn {
      width: 100%;
  }

  .contenedor-pactivo {
      background: #efeff8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .1rem 1rem;
      border: 1px solid #c4c4c4bb;
      border-radius: 0 10px;
  }