.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row {
    width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3em;
    color: white;
}

h3 {
    font-family: 'Monstserrat', sans-serif;
}


.card-padding {
    margin-top: -30px;
    padding: 2.5rem 1rem 1.5rem;
}


.btn-login {
    margin-top: 1rem;
    color: white;
    font-size: 18px;
    width: 100%;
    background-color: #1F295B;
    padding: .3rem 0;
    border: solid 1px #1F295B;
    border-radius: 5px;
}

.centrar-logo {
    background: #1F295B;
    padding: 1rem 3rem .1rem;
    border: solid 1px #1F295B;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.contenedor-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.item {
    border: solid 1px rgba(186,186,186,0.68);
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: 18px;
}

.alinear-creditos{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #eee;
}