.agregar span {
    margin: 0;
    color: #fff;
}

p {
    margin: 0 0 0 10px;
}

.agregar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: #4CAF50;
    border: #4CAF50 solid 1px;
}

.contenedor-nueva {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
    border: #eee solid 1px;
    border-radius: 10px;
    margin-top: .5rem;
}

.contenedor-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}