
<ng-container *ngIf="Archivos.length > 0">
    <ul class="list-group mt-3">
        <li class="list-group-item fw-bolder">
            <div class="d-flex justify-content-between align-items-center">
                <p style="margin: 0;">
                    Personal encargado de la subir la documentación
                </p>
                <span class="material-symbols-outlined agregar icon-hover" data-bs-target="#editarEncargado" data-bs-toggle="modal" (click)="statusFilter()">add</span>
            </div>
        </li>
        <ng-container *ngFor="let encargado of Archivos">
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <p>
                        {{formatName(encargado.UsuarioRegistra)}}
                    </p>
                    <div class="d-flex">
                        <span class="material-symbols-outlined">edit</span>
                        <span class="material-symbols-outlined">close</span>
                    </div>
                </div>
            </li>
        </ng-container>
    </ul>
</ng-container>


  <!-- Modal agregar-->
  <div class="modal fade" id="editarEncargado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <!-- -->
                    <span class="fw-bolder">Cambiar al encargado</span>   
                    <div class="contenedor-form">
                        <ng-container *ngIf="filterBoolean"> <!--Aquiva la expresion para mostrar bloque-->
                            <form [formGroup]="agregarEncargado">
                                <div class="form-group mb-2 buscador d-flex justify-content-between">
                                    <input type="search" class="form-control" [(ngModel)]="filter" placeholder="Busque por nombre" formControlName="nombre">
                                </div>
                            </form> 
                            <div class="table-wraper">
                                <ng-container *ngFor="let usuario of Usuarios | user:filter; let i = index">
                                    <div class="contenedor-seleccionar">
                                        <p>{{usuario.nombre}} {{usuario.apellido}}</p>
                                        <span class="material-symbols-outlined agregar" [ngClass]="comprobarUsuario(usuario) ? 'close':'check'" (click)="addValuesfor(usuario)">{{comprobarUsuario(usuario) ? 'close':'check'}}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                    <!-- -->
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeBtnAdd>Cerrar</button>
            <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<button hidden #btnConfAdd data-bs-target="#confAddUser" data-bs-toggle="modal"></button>

<div class="modal fade" id="confAddUser" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <p>Se agregara un nuevo encargado <strong>{{straddconf}}</strong> para esta evidencia</p>
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary" (click)="agregarNuevaArchivo()" data-bs-dismiss="modal">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>