<button type="button" class="btn-config" data-bs-toggle="modal" data-bs-target="#eliminar">
    <span class="material-symbols-outlined icon-large">
    delete
  </span>
</button>

<div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Eliminar Institucion
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <p class="text-danger">La Institucion se eliminara del programa, estas seguro?</p>

        <button type="button" class="btn btn-danger" (click)="eliminarInstitucion()">Eliminar Institucion</button>

      </div>    
    </div>
  </div>
</div>