.contenedor-opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-filedetalle {
    display: flex;
}

.evidencia {
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 20px;
    margin: 0;
}

.x{
    margin-left: 5px;
}

.x:hover {
    font-weight: bold;
    cursor: pointer;
}

label + input {
    margin: 2px;
}

.radioinput {
    margin-right: .4rem;
}

.icon-radio {
    text-align: start;
    font-size: 15px;
    font-weight: 300;
}

.radio-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnsubmit {
    background: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius:10px;
    color: #fff;
    margin: 0;
}

.row{
    width: 100%;
    align-items: center;
    
}

.statusColor{
    width: 1.5rem;
    height: 1.5rem;
}

.btnApprove{
    background-color: #9FFFA4;
    border: #9FFFA4;
    color: black;
}
.btnWait{
    background-color: #FFDD91;
    border: #FFDD91;
    color: black;
}
.btnDisapprove{
    background-color: #FFA785;
    border: #FFA785;
    color: black;
}

.modal-header {
    background-color: #1F295B;
    color: #fff;
    padding: 10px;
    text-align: center; 
  }
  
 
  .modal-title {
    font-size: 1.5rem;
    margin: 0;
    display: inline-block; 
    vertical-align: middle; 
    color: #fff; 
  }
 
  .btn-close {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    padding: 5px;
  }
  
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  
  button {
    background-color: #1F295B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin: 0 auto; 
  }
  
  
  button:hover {
    background-color: #1F295B; 
  }

  .mensaje {
    display: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .mensaje-exito {
    background-color: #4CAF50; /* Color verde para éxito */
    color: white;
  }
  
  .mensaje-error {
    background-color: #f44336; /* Color rojo para error */
    color: white;
  }
  .observacion {
    border: 1px solid red;
    background-color: #ffcccc; /* Un rojo claro */
    padding: 10px;
    border-radius: 5px;
  }