<div *ngIf="Archivos.length == 0" class="mt-3">
    <p>No se ha subido ninguna evidencia hasta el momento</p>
</div>
<ng-container *ngIf="Archivos.length > 0">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
        <ng-container *ngFor="let archivo of Archivos; let i = index">           
            <li class="list-group-item">
                <div class="contenedor-opciones container">
                    <div class="row">
                        <div class="d-flex col-1"></div>
                        <div class="d-flex col-1">
                            <div class="statusColor" *ngIf="archivo.Estado=='2' && archivo.PathUrl!==null" [ngStyle]="{'background-color': '#9FFFA4'}"></div>
                            <div class="statusColor" *ngIf="archivo.Estado=='1' && archivo.PathUrl!==null" [ngStyle]="{'background-color': '#FFA785'}"></div>
                            <div class="statusColor" *ngIf="archivo.Estado=='0' || archivo.PathUrl===null" [ngStyle]="{'background-color': '#FFDD91'}"></div>
                        </div>
                        <div class="d-flex col-3">
                            {{archivo.Detalle}}
                        </div>
                        <div class="d-flex col-3">
                            {{archivo.UsuarioRegistra}}
                        </div>
                        <div class="d-flex col-4" *ngIf="archivo.PathUrl!==null">
                            <span class="material-symbols-outlined">navigate_next</span>
                            <a href={{archivo.PathUrl}} class="evidencia">
                                {{archivo.Detalle}}
                            </a>
                            <span class="material-symbols-outlined x">close</span>
                        </div>
                    </div>
                    <ng-container *ngIf="rolviewradios == '1'">
                        <form [formGroup]="radiobuton" (ngSubmit)="sendValidated(i)">
                            <div class="d-flex">
                                <div class="d-flex mb-2">
                                    <div class="contenedor-radio d-flex" *ngIf="!formDisabled[i]">
                                        <div class="radio-cont">
                                            <span class="material-symbols-outlined icon-radio">check_small</span>
                                            <input type="radio" value=2 formControlName="estado" class="radioinput">
                                        </div>
                                        <div class="radio-cont">
                                            <span class="material-symbols-outlined icon-radio">horizontal_rule</span>
                                            <input type="radio" value=0 formControlName="estado" class="radioinput">
                                        </div>
                                        <div class="radio-cont">
                                            <span class="material-symbols-outlined icon-radio">close</span>
                                            <input type="radio" value=1 formControlName="estado" class="radioinput">
                                        </div>
                                    </div>
                                </div>
                                <div class="contenedor-btn d-flex align-center" >
                                    <button [ngClass]="formStatus[i]" [disabled]="formDisabled[i]" (click)="openModal(template);"  (ngSubmit)="sendValidated(i)" >Aplicar</button>
                                </div>                                
                            </div>                           
                        </form>
                    </ng-container>
                </div>
            </li>
        </ng-container>
    </ul>
</ng-container>


<ng-template #template >
    <div class="modal-header">
      <h4 class="modal-title pull-left">OBSERVACIONES</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <textarea [(ngModel)]="observacionDetalle" placeholder="Detalle..."></textarea>
        <button (click)="enviarObservacion()">Enviar</button>
        <div id="mensaje" class="mensaje"></div>
    </div>
  </ng-template>