.contenedor-opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-filedetalle {
    display: flex;
}

.evidencia {
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 20px;
    margin: 0;
}

.x{
    margin-left: 5px;
}

.x:hover {
    font-weight: bold;
    cursor: pointer;
}

label + input {
    margin: 2px;
}

.radioinput {
    margin-right: .4rem;
}

.icon-radio {
    text-align: start;
    font-size: 15px;
    font-weight: 300;
}

.radio-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnsubmit {
    background: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius:10px;
    color: #fff;
    margin: 0;
}

.row{
    width: 100%;
    align-items: center;
    
}

.statusColor{
    width: 1.5rem;
    height: 1.5rem;
}

.btnApprove{
    background-color: #9FFFA4;
    border: #9FFFA4;
    color: black;
}
.btnWait{
    background-color: #FFDD91;
    border: #FFDD91;
    color: black;
}
.btnDisapprove{
    background-color: #FFA785;
    border: #FFA785;
    color: black;
}