<div class="contenedor-flotante">
    <div class="header-contenedor">
        <h3>Indicadores</h3>
    </div>
    <div class="text-end">
        <div class="contenedor-options">
            <div class="select-div">
                <div class="restore-filter" (click)="tablafilter.get('filter')?.setValue('0'); valueFilter = '0'">
                    <span class="material-symbols-outlined">delete</span>
                </div>
                <div class="select-filter">
                    <form [formGroup]="tablafilter" class="select-filter">
                        <select class="form-control select-filter" formControlName="filter" (change)="OnChangeFilter()">
                            <option value="" selected disabled>Filtrado por Sub-Criterio</option>
                            <option value="0">Todos los Sub-Criterios</option>
                            <ng-container *ngFor="let filtro of SubCriterios">
                                <option [value]="filtro.IdSubCriterio">{{filtro.Detalle}}</option>
                            </ng-container>
                        </select>
                    </form>
                </div>
            </div>
            <div class="contenedor-botones">
                <div class="contenedor-toggle">
                    <span>Desabilitados</span>
                    <div class="contenedor-button_toggle">
                        <input type="checkbox" [(ngModel)]="checkboxDeshabilitarValue" class="input-check" value="" id="TablaDelete">
                        <label for="TablaDelete" class="button-toggle"></label> 
                    </div>
                </div>
                <div class="btn-custom">
                    <!--Boton Agregar-->
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#crearModalIndicador" (click)="setSubCriterio()">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Tabla de datos-->
    <div class="table-wrapper">
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        <input type="search" class="buscador" [(ngModel)]="filter" placeholder="Nombre">
                    </th>
                    <th scope="col" width="20%">Sub-Criterio</th>
                    <th scope="col" width="5%" class="text-center">Orden</th>
                    <th scope="col" width="10%" class="text-center">Tipo</th>
                    <th scope="col" width="5%" class="text-center">Valoración</th>
                    <th scope="col" width="10%" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let indicador of Indicadores | indicador:filter">
                    <ng-container *ngIf="valueFilter == '0'|| indicador.IdSubCriterio == valueFilter">
                        <tr *ngIf="(indicador.Activo == '1' && !checkboxDeshabilitarValue) || (indicador.Activo == '0' && checkboxDeshabilitarValue)" [class.table-danger]="indicador.Activo == '0'">
                            <td>{{indicador.Detalle}}</td>
                            <td>{{getDetalleSubCriterio(indicador.IdSubCriterio)}}</td>
                            <td>{{indicador.Orden}}</td>
                            <td class="text-center">{{getDetalleTipoEvaluacion(indicador.IdTipoEvaluacion)}}</td>
                            <td>{{getDetalleValoracion(indicador.Valoracion)}}</td>
                            <td>
                                <div class="d-flex justify-content-evenly">
                                    <ng-container *ngIf="indicador.Activo == '1'">
                                        <!-- Botón Editar -->
                                        <span class="material-symbols-outlined icon-size" data-bs-toggle="modal" data-bs-target="#editModalIndicador" (click)="setPreEditar(indicador)">edit</span>
                                    <!-- Botón Eliminar -->
                                    <app-tabla-eliminar-modal [handlerEliminar]="'indicador'" [objetoEliminar]="indicador"></app-tabla-eliminar-modal>
                                        <!--Buscar con filtro-->
                                        <span class="material-symbols-outlined icon-size" (click)="navegarFiltro(indicador.IdIndicador)">turn_right</span>
                                    </ng-container>

                                    <!-- Botón Restaurar -->
                                    <ng-container *ngIf="indicador.Activo == '0'">
                                        <app-tabla-restablecer-modal [idRestablecer]="indicador" [objetoRestablecer]="'indicador'"></app-tabla-restablecer-modal>
                                    </ng-container>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<!--Agregar Modal-->
<div class="modal fade" id="crearModalIndicador" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Indicador</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->
                <div class="container">
                    <form [formGroup]="agregar">
                        <!--Subcriterio opcion-->
                        <div class="mb-3">
                            <label class="form-label">Sub-Criterio</label>
                            <select formControlName="subcriterio" class="form-control" >
                                <option value="0" selected disabled >Sub-Criterios...</option>
                                <ng-container *ngFor="let subcriterio of SubCriterios">
                                    <option *ngIf="subcriterio.Activo == '1'" [value]="subcriterio.IdCriterio">{{subcriterio.Detalle}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <!--Nombre-->
                        <div class="mb-3">
                            <label for="DetalleAgregar" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="DetalleAgregar" formControlName="detalle" placeholder="Planificación estratégica y operativa">
                        </div>
                        <!--Orden-->
                        <div class="mb-3">
                            <label for="" class="form-label">Orden</label>
                            <input type="text" class="form-control" formControlName="orden" placeholder="1, 2, 3, ...">
                        </div>
                        <!--Tipo de Evaluacion-->
                        <div class="mb-3">
                            <label for="" class="form-label">Tipo de Evaluacion</label>
                            <ng-container *ngFor="let tipo of TipoEvaluaciones">
                                <div class="d-flex mx-4">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="tipoagregar" formControlName="tipoagregar" [value]="tipo.IdTipoEvaluacion">
                                        <label for="" class="form-check-label">{{tipo.Detalle}} </label>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </form>
                </div>
                <!--Fin Contenido Modal-->
            </div>
            <!--Botones modal-->
            <div class="modal-footer">
                <button #cerrarAgregarModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <div class="btn-custom">
                    <button type="button" class="btn" (click)="agregarIndicador()" [disabled]="agregar.invalid">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Editar Modal-->
<div class="modal fade" id="editModalIndicador" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Indicador</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->

                <div class="container">
                    <form [formGroup]="editar">   
                        <input type="text" readonly class="d-none" id="IdEditar" formControlName="id" value="id">   
                        <!--Subcriterio opcion-->
                        <div class="mb-3">
                            <label class="form-label">Sub-Criterio</label>
                            <select formControlName="subcriterio" class="form-control" >
                                <ng-container *ngFor="let subcriterio of SubCriterios">
                                    <option *ngIf="subcriterio.Activo == '1'" [value]="subcriterio.IdSubCriterio">{{subcriterio.Detalle}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <!--Nombre-->
                        <div class="mb-3">
                            <label for="DetalleAgregar" class="form-label">Nombre</label>    
                            <input type="text" class="form-control" id="DetalleAgregar" formControlName="detalle" placeholder="Planificación estratégica y operativa">
                        </div>
                        <!--Orden-->
                        <div class="mb-3">
                            <label for="" class="form-label">Orden</label>
                            <input type="text" class="form-control" formControlName="orden" placeholder="1, 2, 3, ...">
                        </div> 
                        <!--Tipo de Evaluacion-->
                        <div class="mb-3">
                            <label for="" class="form-label">Tipo de Evaluacion</label>
                            <ng-container *ngFor="let tipo of TipoEvaluaciones">
                                <div class="d-flex mx-4">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="tipoeditar" formControlName="tipoeditar" [value]="tipo.IdTipoEvaluacion">
                                        <label for="" class="form-check-label">{{tipo.Detalle}} </label>
                                    </div>
                                </div>
                            </ng-container>
                        </div>        
                        <div class="mb-3">
                            <label for="" class="form-label">Valoracion</label>
                            <ng-container *ngFor="let valor of Valoraciones">
                                <div class="d-flex mx-4">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="valoracion" formControlName="valoracion" [value]="valor.IdValoracion">
                                        <label for="" class="form-check-label">{{valor.Detalle}} </label>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </form>
                </div>
                <!--Fin Contenido Modal-->
            </div>
            <div class="modal-footer">
                <button #cerrarEditarModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <div class="btn-custom">
                    <button type="button" class="btn btn-primary" (click)="editarIndicador()">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>