span {
  margin: 0;
}

h3 { 
  margin: 0;
}

.contenedor-modulo {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: .5rem 3rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: 5px 2px 10px 0px rgba(0,0,0,0.40);
  -webkit-box-shadow: 5px 2px 10px 0px rgba(0,0,0,0.40);
  -moz-box-shadow: 5px 2px 10px 0px rgba(0,0,0,0.40);
}

.texto-header {
  color: #1F295C;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}

.icono-header {
  background: #4A5AA8;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  font-size: 60px;
  width: 50px;
  height: 50px;
  border-radius: 10px 0;
}