<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="contenedor-modulo" routerLink="/panel/tablas/modelo">
                <div class="modulo-titulo">
                    <h3 class="texto-header">Modelos</h3>
                </div>
                <div class="icono-header">
                    <span class="material-symbols-outlined">menu_book</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="contenedor-modulo" routerLink="/panel/tablas/criterio">
                <div class="modulo-titulo">
                    <h3 class="texto-header">Criterios</h3>
                </div>
                <div class="icono-header">
                    <span class="material-symbols-outlined">description</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="contenedor-modulo" routerLink="/panel/tablas/subcriterio">
                <div class="modulo-titulo">
                    <h3 class="texto-header">Sub-Criterios</h3>
                </div>
                <div class="icono-header">
                    <span class="material-symbols-outlined">inventory_2</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="contenedor-modulo" routerLink="/panel/tablas/indicador">
                <div class="modulo-titulo">
                    <h3 class="texto-header">Indicadores</h3>
                </div>
                <div class="icono-header">
                    <span class="material-symbols-outlined">list</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="contenedor-modulo" routerLink="/panel/tablas/elementos">
                <div class="modulo-titulo">
                    <h3 class="texto-header">Elementos</h3>
                </div>
                <div class="icono-header">
                    <span class="material-symbols-outlined">category</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="contenedor-modulo" routerLink="/panel/tablas/evidencia">
                <div class="modulo-titulo">
                    <h3 class="texto-header">Evidencias</h3>
                </div>
                <div class="icono-header">
                    <span class="material-symbols-outlined">place_item</span>
                </div>
            </div>
        </div>
    </div>
</div>