<div class="container">
    <div class="contenedor">
        <div class="contenedor-title">
            <h6>{{tituloStr}}</h6>
        </div>   
        <ng-container *ngFor="let evidencia of evidencias">
            <div class="contenedor-evidencia">
              <ng-container *ngIf="evidencia">
                <div class="d-flex justify-content-between">
                  <p>{{GetMaxCharacters(evidencia.Detalle)}}
                    <span class="material-symbols-outlined informacion" 
                          data-bs-toggle="modal" 
                          data-bs-target="#exampleModal" 
                          (click)="selectEvidenciaDetalle(evidencia.Detalle)">help</span>
                    <ng-container *ngIf="ActiveRols == '2'">
                      <!-- Mostrar el icono solo si evidencia.IdEvidencia no está en evideEstado2Array -->
                      <span *ngIf="isEvidenciaNotInArray(evidencia.IdEvidencia)" 
                            class="material-symbols-outlined icon-size" 
                            data-bs-toggle="modal" 
                            data-bs-target="#staticBackdrop" 
                            (click)="selectEvidenciaId(evidencia.IdEvidencia)">
                        note_add
                      </span>
                    </ng-container>
                    <app-informacion-modal [DetalleEvidencia]="detalleSelected"></app-informacion-modal>
                  </p>
                  <ng-container *ngIf="ActiveRols == '2'">
                    <app-modal-evidencias [IdEvidenciaSelected]="idEvideSelected" [elemento]="idElemento"></app-modal-evidencias>
                  </ng-container>
                </div>
                <ng-container *ngIf="ActiveRols == '2'"> 
                    <app-evidencia-file-contenedor (idArchivoSeleccionadoEmitido)="idArchivoSeleccionado = $event" [IdEvidencia]="evidencia.IdEvidencia" [rolviewradios]="subRolActivo" (EvideEstado2)="handleEvideEstado2($event)"></app-evidencia-file-contenedor>
                </ng-container>
                <hr>
              </ng-container>
            </div>
        </ng-container>
    </div>
</div>