<div class="container">
    <div class="contenedor">
        <div class="contenedor-title">
            <h6>{{tituloStr}}</h6>
        </div>          
        <ng-container *ngFor="let evidencia of Evidencias">
            <div class="contenedor-evidencia">
                <ng-container *ngIf="evidencia">
                    <div class="d-flex justify-content-betweeen">
                        <p>{{GetMaxCharacters(evidencia.Detalle)}}<app-informacion-modal [DetalleEvidencia]="evidencia.Detalle"></app-informacion-modal></p>
                        <ng-container *ngIf="ActiveRols == '2'">
                            <app-modal-evidencias [elemento]="idElemento"></app-modal-evidencias>
                        </ng-container>  
                    </div>
                    <ng-container *ngIf="ActiveRols == '1'">
                        <app-asignar-usuario [IdEvidencia]="evidencia.IdEvidencia"></app-asignar-usuario>
                    </ng-container>
                    <ng-container *ngIf="ActiveRols == '2'"> 
                        <app-evidencia-file-contenedor [IdEvidencia]="evidencia.IdEvidencia"></app-evidencia-file-contenedor>
                    </ng-container>
                    <hr>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>