<div class="row">
    <div class="col-md-9">
      <label>Sub Criterio</label>
      <div class="input-group mb-3 d-flex">
        <select [formControl]="subCriterioControl" [disabled]="!criterioId" class="form-select form-select-lg">
          <option value="" [selected]="true" [disabled]="true">Seleccione un sub criterio...</option>
          <option *ngFor="let subCriterio of subCriterios" [value]="subCriterio.IdCriterio">
            {{ subCriterio.Detalle }}
          </option>
        </select>
      </div>
    </div>
  
    <div class="col-md-3 mt-4 d-flex justify-content-center">
    </div>
  </div>