<div class="row">
    <div class="col-md-11">
      <label>Sub Criterio</label>
      <div class="input-group mb-3 d-flex">
        <select [formControl]="subCriterioControl" [disabled]="!criterioId" class="form-select form-select-lg">
          <option value="" [selected]="true" [disabled]="true">Seleccione un sub criterio...</option>
          <option *ngFor="let subCriterio of subCriterios" [value]="subCriterio.id">
            {{ subCriterio.descripcion }}
          </option>
        </select>
      </div>
    </div>
  
    <div class="col-md-1 mt-4 d-flex justify-content-center">
      <app-crud-button></app-crud-button>
    </div>
  </div>