<div class="container">
  <div class="row mt-4 justify-content-center">    

    <div class="col-md-9">
      <app-instituciones></app-instituciones>
    </div>
    
    <div class="col-md-9">
      <app-modelo></app-modelo>
    </div>

    <div class="col-md-9">
      <app-criterios></app-criterios>
    </div>
    
    <div class="col-md-9">
      <app-sub-criterios></app-sub-criterios>
    </div>
    
    <div class="col-md-9">
      <app-indicadores></app-indicadores>
    </div>
    
    <div class="col-md-9">
      <div class="d-flex flex-row-reverse justify-content-between">
        <button class="btn btn-primary btn-custom" routerLink="/dashboard/detalle">Mostrar</button>
      </div>
    </div>    

  </div>
</div>