
<!--Buscador, checkbox y Agregar Button-->
<div class="row g-0 text-end mb-1">
    <div class="col-md-8 col-sm-12">
        <div class="form-group">
            <input type="search" class="form-control" [(ngModel)]="filter" placeholder="Busque por nombre o siglas">
        </div>
    </div>
    <div class="col-md-2">
        <div class="d-flex justify-content-end">
            <div class="form-check mt-2">
                <input type="checkbox" [(ngModel)]="checkboxDeleteValue" class="form-check-input" value="" id="TablaDelets">
                <label for="TablaDelets" class="form-check-label">Eliminados</label>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <app-opciones-tabla [switecher]="1"></app-opciones-tabla>
    </div>
</div>

<!--Tabla de datos-->
<table class="table table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col" width="5%" class="text-center">ID</th>
            <th sortable="Detalle" scope="col" (sort)="onSort($event)">Nombre</th>
            <th sortable="Siglas" scope="col" (sort)="onSort($event)" width="15%">Siglas</th>
            <th width="10%" class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let institucion of Instituciones | institucion:filter" >
            <tr *ngIf="institucion.Activo == '1'" [class.d-none]="checkboxDeleteValue">
                <td class="text-center">{{institucion.IdInstitucion}}</td>
                <td>{{institucion.Detalle}}</td>
                <td class="">{{institucion.Siglas}}</td>
                <td>
                    <div class="d-flex justify-content-evenly">
                        <app-opciones-tabla [switecher]="2" [institucionx]="institucion"></app-opciones-tabla>
                        <app-opciones-tabla [switecher]="3" [institucionx]="institucion"></app-opciones-tabla>
                    </div>
                </td>
            </tr>
            <ng-container *ngIf="checkboxDeleteValue">             
                <tr *ngIf="institucion.Activo == '0'" class="table-danger">
                    <td class="text-center">{{institucion.IdInstitucion}}</td>
                    <td>{{institucion.Detalle}}</td>
                    <td class="">{{institucion.Siglas}}</td>
                    <td>
                        <div class="d-flex justify-content-evenly">
                            <span class="material-symbols-outlined icon-size" (click)="restoreInstitucion(institucion)">restore_from_trash</span>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>