.material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 48;
      cursor: pointer;
      font-size: 30px;
}    
.icon-size:hover {
      font-variation-settings:
      'FILL' 0,
      'wght' 700,
      'GRAD' 0,
      'opsz' 48
}
  
.contenedor-flotante {
      padding: 3rem;
      border-radius: 20px;
      background: #fff;
      padding: 1rem 1rem;
      box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
      -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
      -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
}

.contenedor-botones {
      display: flex;
}

h3 {
      margin: 0;
      color: #fff;
}

.header-contenedor {
      background-color: #1F295B;
      text-align: center;
      margin-bottom: .5rem;
      border-radius: 10px;
}

@media (max-width: 767px) {
      .contenedor-botones {
            width: 100%;
            justify-content: space-between;
            flex-direction: row-reverse;
            margin: 3px 0;
      }
}

.buscador {
      background-color: #eee;
      border: none !important;
      color: #000;
      font-weight: bolder;
      width: 100%;
      padding: .1rem;
}

/*Select filter*/
.contenedor-options{
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin: .3rem 0;
}

.select-div {
      display: flex;
      width: 100%;
}

.select-filter {
      margin: 0;
      width: 100%;
}

.restore-filter {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 37px;
      border: none;
      background: #1F295B;
      border-radius: 5px;
      margin-left: 3px;
}

@media (max-width: 767px) {
      .contenedor-options{
            flex-direction: column;
            justify-content: center;
      }
}

.restore-filter span {
      margin: 0;
      color: #fff;
}

/*Toggle button inicio*/
.contenedor-toggle {
      display: flex;
      align-items: center;
      margin: .3px;
      padding: 0 1rem;
}

.contenedor-toggle span {
      font-size: 12px;
      margin: 0 5px;
}

.contenedor-button_toggle {
      margin-top: 5px;
      position: relative;
}

.button-toggle {
      background-color: #d2d2d2;
      width: 40px;
      height: 20px;
      border-radius: 30px;
      cursor: pointer;
      transition: 0.2s;
}

.button-toggle::before {
      position: absolute;
      content: '';
      background-color: #fff;
      width: 18px;
      height: 18px;
      border-radius: 200px;
      margin: 1px;
      transition: 0.1s;
      top: 50%;
      left: 50%;
      transform: translate(-110%, -70%);
}

input:checked + .button-toggle {
      background-color: #1F295B;
}

input:checked + .button-toggle::before {
      transform: translate(0%, -70%);
}

.input-check {
      display: none;
}

@media (max-width: 767px) {
      input:checked + .button-toggle::before {
            transform: translate(0%, -69%);
      }
      .button-toggle::before {
            transform: translate(-110%, -69%);
      }
}
/*Toggle button fin*/

/*Agregar button*/
.btn-custom button{
      padding: .3rem 1rem;
      background: #1F295B;
      color: #fff;
      border: solid 1px #1F295B;
} 

/*Inicio Estilos tabla*/

tr th{
      background: #eee;
}

table, tr, th {
      border: 1px solid #eee;
}

@media (max-width:454px) {
      .table-wrapper {
            overflow-y: scroll;
            overflow-x: scroll;
      }
}
/*Fin Estilos tabla*/
