<div class="contenedor-flotante">
    <div class="header-contenedor">
        <h3>Sub Criterios</h3>
    </div>
    <div class="text-end">
        <div class="contenedor-options">
            <div class="select-div">
                <div class="restore-filter" (click)="tablafilter.get('filter')?.setValue('0'); valueFilter = '0'">
                    <span class="material-symbols-outlined">delete</span>
                </div>
                <div class="select-filter">
                    <form [formGroup]="tablafilter">
                        <select class="form-control select-filter" formControlName="filter" (change)="OnChangeFilter()">
                            <option value="" selected disabled>Filtrado por Criterio</option>
                            <option value="0">Todos los Criterios</option>
                            <ng-container *ngFor="let filtro of Criterios">
                                <option [value]="filtro.IdCriterio">{{filtro.Detalle}}</option>
                            </ng-container>
                        </select>
                    </form>
                </div>
            </div>
            <div class="contenedor-botones">
                <div class="contenedor-toggle">
                    <span>Desabilitados</span>
                    <div class="contenedor-button_toggle">
                        <input type="checkbox" [(ngModel)]="checkboxDeshabilitarValue" class="input-check" value="" id="TablaDelete">
                        <label for="TablaDelete" class="button-toggle"></label> 
                    </div>
                </div>
                <div class="btn-custom">
                    <!--Boton Agregar-->
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#crearModalSubCriterio" (click)="setCriterio()">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Tabla de datos-->
    <div class="table-wrapper">
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        <input type="search" class="buscador" [(ngModel)]="filter" placeholder="Nombre">
                    </th>
                    <th scope="col" width="25%">Criterio</th>
                    <th scope="col" width="10%" class="text-center">Orden</th>
                    <th scope="col" width="10%" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let subcriterio of SubCriterios | subCriterio:filter">
                    <ng-container *ngIf="valueFilter == '0'|| subcriterio.IdCriterio == valueFilter">
                        <tr *ngIf="(subcriterio.Activo == '1' && !checkboxDeshabilitarValue) || (subcriterio.Activo == '0' && checkboxDeshabilitarValue)" [class.table-danger]="subcriterio.Activo == '0'">
                            <td>{{subcriterio.Detalle}}</td>
                            <td>{{getCriterioName(subcriterio.IdCriterio)}}</td>
                            <td class="text-center">{{subcriterio.Orden}}</td>
                            <td>
                                <div class="d-flex justify-content-evenly">
                                    <ng-container *ngIf="subcriterio.Activo == '1'">
                                    <!-- Botón Editar -->
                                        <span class="material-symbols-outlined icon-size" 
                                            data-bs-toggle="modal" data-bs-target="#editModalSubCriterio" 
                                            (click)="cargarDatosEditar(subcriterio)">edit</span>
                                    <!-- Botón Eliminar -->
                                        <app-tabla-eliminar-modal [objetoEliminar]="subcriterio" [handlerEliminar]="'subcriterio'"></app-tabla-eliminar-modal>
                                    <!--Buscar con filtro-->
                                        <span class="material-symbols-outlined icon-size" (click)="navegarFiltro(subcriterio.IdSubCriterio)">turn_right</span>
                                    </ng-container>
                                    <ng-container *ngIf="subcriterio.Activo == '0'">
                                        <!-- Botón Restaurar -->
                                        <app-tabla-restablecer-modal [idRestablecer]="subcriterio" [objetoRestablecer]="'subcriterio'"></app-tabla-restablecer-modal>
                                    </ng-container>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<!--Agregar Modal-->
<div class="modal fade" id="crearModalSubCriterio" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Sub-Criterio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->
                <div class="container">
                    <form [formGroup]="agregar">
                        <div class="mb-3">
                            <label class="form-label">Criterio</label>
                            <select formControlName="criterio" class="form-control" >
                                <option value="0" selected disabled >Criterios...</option>
                                <ng-container *ngFor="let criterio of Criterios">
                                    <option *ngIf="criterio.Activo == '1'" [value]="criterio.IdCriterio">{{criterio.Detalle}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="DetalleAgregar" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="DetalleAgregar" formControlName="detalle" placeholder="Infraestructura Básica">
                        </div>
                        <div class="mb-3">
                            <label for="ordenAgregar" class="form-label">Orden</label>
                            <input type="text" class="form-control" id="ordenAgregar" formControlName="orden" placeholder="1,2,3...">
                        </div>
                    </form>
                </div>
                <!--Fin Contenido Modal-->
            </div>
            <div class="modal-footer">
                <button #cerrarAgregarModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <div class="btn-custom">
                    <button type="button" class="btn" (click)="agregarSubCriterio()" [disabled]="agregar.invalid">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Editar Modal-->
<div class="modal fade" id="editModalSubCriterio" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Sub-Criterio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Inicio Contenido Modal-->
                <div class="container">
                    <form [formGroup]="editar">
                        <input type="text" class="d-none" readonly formControlName="id">
                        <div class="mb-3">
                            <label for="criterio" class="form-label">Criterio</label>
                            <select [disabled]="false" formControlName="criterio" class="form-control" >
                                <option value="0" selected disabled >Criterios...</option>
                                <ng-container *ngFor="let criterio of Criterios">
                                    <option *ngIf="criterio.Activo == '1'" [value]="criterio.IdCriterio" >{{criterio.Detalle}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="DetalleEditar" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="DetalleEditar" formControlName="detalle" placeholder="Infraestructura Básica">
                        </div>
                        <div class="mb-3">
                            <label for="ordenEditar" class="form-label">Orden</label>
                            <input type="text" class="form-control" id="ordenEditar" formControlName="orden" placeholder="1,2,3...">
                        </div>        
                    </form>
                </div>
                <!--Fin Contenido Modal-->
            </div>
            <div class="modal-footer">
                <button #cerrarEditarModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <div class="btn-custom">
                    <button type="button" class="btn" (click)="editarSubCriterio()">Editar</button>
                </div>
                
            </div>
        </div>
    </div>
</div>