<div class="row">
  <div class="col-md-11">
    <div class="d-flex justify-content-start mb-3">
      <h2 class="mt-4">Indicadores</h2>
      <div class="col-md-1 mt-3 d-flex justify-content-center">
        <app-crud-button></app-crud-button>
      </div>
    </div>
    <p *ngIf="indicadores.length === 0" class="text-center">No se encontró ningún Indicador</p> 
    
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let indicador of indicadores">
          <mat-radio-group [(ngModel)]="indicadorSelected">
            <mat-radio-button class="item" [value]="indicador.id">
                {{indicador.descripcion}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    
  </div>  
</div>


  
  