<div class="row">
  <div class="col-md-9">
    <label>Indicador</label>
    <div class="input-group mb-3 d-flex">
      <select [formControl]="indicadorControl" [disabled]="!subCriterioId" class="form-select form-select-lg">
        <option value="" [selected]="true" [disabled]="true">Seleccione un indicador...</option>
        <ng-container *ngFor="let indicador of indicadores">
          <option *ngIf="indicador.IdSubCriterio == subCriterioId" [value]="indicador.IdIndicador">
            {{ indicador.Detalle }}
          </option>
        </ng-container>
      </select>
    </div>
  </div>
</div>