<div class="container mt-4">

  <button class="btn btn-secondary" routerLink="/panel/evidencias">
    <div class="d-flex ">
      <div class="">
        <span class="material-symbols-outlined">
          arrow_back_ios
        </span>
      </div>
      <span>Regresar</span>
    </div>
  </button>
  
    <div class="card mt-2 mb-3">
        <div class="card-header">
            Detalle del Indicador
        </div>
        <div class="card-body">
            <!--Titulo-->
            <h1 class="card-title">Indicador {{strTituloIndicador}}</h1>

            <!--Tipo-->
            <p class="h5 fw-medium">Tipo de indicador: <span class="card-text fw-light">{{strTipoIndicador}}</span></p>

            <!--Periodo-->
            <p class="h5 fw-medium">Periodo: <span class="card-text fw-light">02/2022 - 08/2022</span></p>

            <!--Estandar-->
            <!--Es Informacion quemada en el codigo-->
            <p class="h5">Estandar:</p>
            <p class="card-text">
                El instituto cuenta con un sistema de planificación cuyo centro es el Plan Estratégico de Desarrollo Institucional (PEDI), que se ejecuta a través de los Planes Operativos Anuales (POA). La planificación estratégica se sustenta en un diagnóstico participativo de la institución y su entorno. El PEDI orienta el desarrollo de las tres funciones sustantivas de la educación superior; a través, de la misión, visión y los objetivos estratégicos, y es coherente internamente. El POA guía el trabajo cotidiano de la institución. Los diferentes actores conocen su rol en el proceso de planificación. El PEDI y el POA se actualizan sustentada y ordenadamente. Están normados los procedimientos de planificación.
            </p>

            <!--Elementos Fundamentales-->
            <p class="h5">Elementos Fundamentales:</p>

            <!--Elementos Fundamentales Esenciales-->
            <p class="h6">Esenciales</p>

            <table class="table">
                <thead class="table-secondary">
                  <tr>
                    <th scope="col" class="wide-column-orden text-center">Orden</th>
                    <th scope="col"  colspan="2" class="wide-column-descripcion">Descripción</th>
                    <th scope="col" class="wide-column-estado">Evidencia</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <ng-container *ngFor="let elemento of elementos; let i = index">
                    <ng-container *ngIf="elemento.IdPonderacion == '1'">
                      <tr [ngClass]="{'bordern': selectedEsenciales === i}">
                        <th [ngClass]="{'bordern': selectedEsenciales === i}" scope="row" class="text-center">{{elemento.Orden}}</th>
                        <td [ngClass]="{'bordern': selectedEsenciales === i}" scope="row" colspan="2" class="wide-column">{{elemento.Detalle}}</td>
                        <td [ngClass]="{'bordern': selectedEsenciales === i}" class="text-center">
                          <div class="contenedor-botones">
                            <span class="material-symbols-outlined icon-size" (click)="selectedEsenciales = (selectedEsenciales === i ? null : i)">{{ selectedEsenciales === i ? 'expand_less' : 'expand_more' }}</span>
                          </div>
                        </td>
                      </tr>
                      <ng-container *ngIf="selectedEsenciales === i">
                        <tr>
                          <td colspan="4">
                            <app-estado-evidencia [idElemento]="elemento.IdElemento"></app-estado-evidencia>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </tbody>
            </table>
            
            <!--Elementos Fundamentales Complementarios-->
            <p class="h6 mt-4">Complementarios</p>

            <table class="table">
                <thead class="table-secondary">
                  <tr>
                    <th scope="col" class="wide-column-orden text-center">Orden</th>
                    <th scope="col"  colspan="2" class="wide-column-descripcion">Descripción</th>
                    <th scope="col" class="wide-column-estado">Evidencia</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <ng-container *ngFor="let elemento of elementos; let i = index">
                    <ng-container *ngIf="elemento.IdPonderacion == '2'">
                      <tr [ngClass]="{'bordern': selectedComplementarios === i}">
                        <th [ngClass]="{'bordern': selectedComplementarios === i}" scope="row" class="text-center">{{elemento.Orden}}</th>
                        <td [ngClass]="{'bordern': selectedComplementarios === i}" scope="row" colspan="2" class="wide-column">{{elemento.Detalle}}</td>
                        <td [ngClass]="{'bordern': selectedComplementarios === i}" class="text-center">
                          <div class="contenedor-botones">
                            <app-modal-evidencias [elemento]="elemento.IdElemento"></app-modal-evidencias>
                              <span class="material-symbols-outlined icon-size" (click)="selectedComplementarios = (selectedComplementarios === i ? null : i)">{{ selectedComplementarios === i ? 'expand_less' : 'expand_more' }}</span>
                          </div>
                        </td>
                      </tr>
                      <ng-container *ngIf="selectedComplementarios === i">
                        <tr>
                          <td colspan="4">
                            <app-estado-evidencia></app-estado-evidencia>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </tbody>
            </table>
  
        </div>
    </div>
</div>