<!--AGREGAR INSTITUCION-->
<button type="button" class="btn-config" data-bs-toggle="modal" data-bs-target="#agregar">
    <span class="material-symbols-outlined icon-large">
    add_circle
  </span>
</button>

<div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Crear Institucion
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="elementFormAgregar" (ngSubmit)="onSubmitAgregar()">
            <div class="form-group  mb-2">

                <!--detalle input-->
              <label class="form-label" for="detalle">Nombre Institucion</label>
                <input 
                type="text" 
                class="form-control mb-1" 
                id="detalle" 
                placeholder="Institucion Superior Tecnológico Pedro Traversari"
                formControlName="detalle"
                >             
                <span class="text-danger ml-1"
                *ngIf="elementFormAgregar.get('detalle')?.errors?.['required'] && elementFormAgregar.get('detalle')?.touched">  
                El nombre es <strong>requerida!</strong>
                <br>
                </span>
                <ng-container *ngIf="elementFormAgregar.get('detalle')?.value.length > 0">
                    <span class="{{elementFormAgregar.get('detalle')?.errors?.['minlength'] ? 'text-secondary' : 'text-success'}} ml-1">
                        El nombre debe tener minimo <strong>10 caracteres!</strong>
                        <br>
                    </span>
                </ng-container>
          
                <!--Siglas input-->
                <label class="form-label mt-4" for="siglas">Siglas para identificar la Institucion</label>
                <input 
                type="text" 
                class="form-control mb-1" 
                id="siglas" 
                placeholder="ISTPET"
                formControlName="siglas"
                >
                <span class="text-danger ml-1"
                *ngIf="elementFormAgregar.get('siglas')?.errors?.['required'] && elementFormAgregar.get('siglas')?.touched">  
                Las siglas son <strong>requeridas!</strong>
                </span>
          
            </div>  
            <button type="submit" class="btn btn-primary mt-3" [disabled]="elementFormAgregar.invalid">Crear Institucion</button>

            <!--No visible en el componente-->
            <button #CloseBtn type="button" class="btn-close d-none" data-bs-dismiss="modal" aria-label="Close" ></button>
          
          </form>   
      </div>    
    </div>
  </div>
</div>