#banner{
    width: 98%;
    height: 450px;
    border: 1px solid white;
    box-shadow: 0px 0px 20px gray;
    background-image: url("../../../../assets/img/fondoInstitucion.jpg");
    background-size: cover;
    background-position: -200px -350px;
    background-attachment: fixed;
    float: left;
    overflow: hidden;
    animation: backBanner 10s linear;
}
@keyframes backBanner{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position:  -200px -350px;
    }
}
#banner h1{
    width: 450px;
    float: right;
    font-family: 'Trebuchet MS';
    color: white;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    margin-right: 0%;
    
    margin-top: 290px;
    animation: showText 10s linear;
}
@keyframes showText{
    0%{transform:translateX(-600%) scale(5,5); 
    opacity: 1;}
    50%{transform:translateX(600%) scale(5,5); 
        opacity: 1;}
    75%{transform:translateX(-600%) scale(5,5); 
        text-shadow: none;
        color: transparent;
        opacity: 1;}
    100%{transform:translateX(0%) scale(1,1); 
        text-shadow: 2px 2px 1px black;
        color: white;
        opacity: 1;}
}