<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex justify-content-between d-lg-none d-block">
      <a class="navbar-brand fs-4" href="#">SIPLECE</a>
      <button class="btn px-1 py-0 open-btn" (click)="toggle()"><span class="material-symbols-outlined color-icon">menu</span></button>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-symbols-outlined">
        expand_more
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>