.contenedor {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border: solid 1px #eee;
    border-radius: 10px;
}
.contenedor-title {
    max-width: 150px;
    background: #eee;
    border-radius: 10px;
    margin-top: -27px;
    margin-bottom: 7px;
}
.contenedor-title h6 {
    text-align: center;
    font-size: 12px;
    margin: 0;
}
p {
    margin: 0;
}