

.contenedor-titulo h3 {
  color: #fff;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.contenedor-titulo {
  background: #1F295B;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    background-color: #1F295B;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #1F295B;
  }
}

.btn-custom button {
  width: 100%;
  padding: 0.5rem 3rem;
  background: #1F295B;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-custom button:hover {
  background: #16204a;
}

.input-group-text {
  width: 110px;
  background: #1F295B;
  color: #fff;
  border: none;
  border-radius: 5px 0 0 5px;
}

h3 {
  margin: 0 0 1rem;
  justify-content: center;
  display: flex;
  font-size: 1.75rem;
  color: #1F295B;
}

.indicadores-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.indicadores-section {
  margin-bottom: 20px;
}

.indicadores-list {
  display: flex;
  flex-direction: column;
}

.indicador-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e9e9e9;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.indicador-item p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.indicador-item i {
  cursor: pointer;
  color: #1F295B;
  transition: color 0.3s ease;
}

.indicador-item i:hover {
  color: #16204a;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #1F295B;
  color: white;
}

.tablaCuantitativos {
  display: flex;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #1F295B;
}

input[type="radio"] {
  margin-right: 10px;
}

.boton-centrado {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Botón para generar reportes de indicadores cuantitativos */
button.generar-reporte-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1F295B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 5px;
}

button.generar-reporte-btn:hover {
  background-color: #313d79;
  transform: scale(1.05);
}

/* Botón para generar reportes de indicadores cualitativos */
button.generar-reporte-cualitativos-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1F295B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 5px;
}

button.generar-reporte-cualitativos-btn:hover {
  background-color: #313d79;
  transform: scale(1.05);
}

/* Botón para mostrar reporte general */
button.reporte-general-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1F295B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 5px;
}

button.reporte-general-btn:hover {
  background-color: #313d79;
  transform: scale(1.05);
}

/* Botón para generar reporte PDF */
button.generar-pdf-btn {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #99503f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.generar-pdf-btn:hover {
  background-color: #683326;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.card {
  border: 2px solid #161d42; /* Borde verde para destacar la tarjeta */
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  padding: 20px;
  background-color: #f9f9f9; /* Fondo gris claro */
  margin: 20px 0;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card p {
  margin: 12px 0;
  font-size: 18px;
  color: #1F295B;
}

.card p strong {
  color: #1F295B; /* Color verde oscuro para los títulos */
  font-weight: bold;
}

.title-bolder{
  color: #1F295B; /* Color verde oscuro para los títulos */
  font-weight: bold;
}

.card input[type="text"] {
  border: 2px solid #1F295B; /* Borde verde oscuro */
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  width: 50px; /* Para ocupar el ancho disponible */
  box-sizing: border-box;
}

.card input[type="text"]:focus {
  outline: none;
  border-color: #1F295B; /* Cambia el color del borde cuando el campo está enfocado */
  box-shadow: 0 0 5px rgba(56, 142, 60, 0.5);
}

.card button {
  background-color: #161d42;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #388e3c;
}

.card button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(56, 142, 60, 0.7);
}

.card .result {
  font-size: 18px;
  color: #d32f2f; /* Color rojo oscuro para destacar el resultado */
  margin-top: 20px;
}
