<button type="button" class="btn-config" data-bs-toggle="modal" data-bs-target="#editarModelo">
    <span class="material-symbols-outlined icon-large">
    edit
  </span>
</button>

<div class="modal fade" id="editarModelo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Editar Modelo
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="elementForm" (ngSubmit)="onSubmit()">
            <div class="form-group  mb-2">

                <!--detalle input-->
              <label class="form-label" for="detalle">Nuevo Nombre Modelo</label>
                <input 
                type="text" 
                class="form-control mb-1" 
                id="detalle" 
                placeholder="CACES-UNIVERSIDADES-2020-2023"
                formControlName="detalle"
                >             
                <span class="text-danger ml-1"
                *ngIf="elementForm.get('detalle')?.errors?.['required'] && elementForm.get('detalle')?.touched">  
                El nombre es <strong>requerido!</strong>
                <br>
                </span>
                <ng-container *ngIf="elementForm.get('detalle')?.value.length > 0">
                    <span class="{{elementForm.get('detalle')?.errors?.['minlength'] ? 'text-secondary' : 'text-success'}} ml-1">
                        El nombre debe tener minimo <strong>10 caracteres!</strong>
                        <br>
                    </span>
                </ng-container>

                <!--checkbox-->
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="estado">
                    <label class="form-check-label" for="estado">
                      Activo
                    </label>
                </div>
          
            </div>  
            <button type="submit" class="btn btn-primary mt-3" [disabled]="elementForm.invalid">Actualizar Modelo</button>

            <!--No visible en el componente-->
            <button #CloseBtn type="button" class="btn-close d-none" data-bs-dismiss="modal" aria-label="Close" ></button>
          
          </form>

      </div>    
    </div>
  </div>
</div>