.icon-large {
  font-size: 40px;
  cursor: pointer;
}


.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 250,
'GRAD' 0,
'opsz' 0;
  transition: .4s;
}

.material-symbols-outlined:hover {
  font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 0;
}

.btn-config {
background-color: #fff;
border: none;
}
