<div class="btn-group ">
    <button class="btn btn-secondary btn-group-customs" [class.active]="selectedButton === 1" type="button"
    (click)="toggleDiv(1)">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
      </svg>
    </button>
    <button class="btn btn-secondary btn-group-customs" [class.active]="selectedButton === 2" type="button" (click)="toggleDiv(2)">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
    </button>
    <button class="btn btn-secondary btn-group-customs" [class.active]="selectedButton === 3" type="button" (click)="toggleDiv(3)">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
      </svg>
    </button>
</div>

<!--Seccion para agregar institucion-->
<div class="card mt-1" #myDiv1 [hidden]="selectedButton!== 1">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Agregar una institucion</h5>
      <span class="material-symbols-outlined close-btn" (click)="toggleDiv(0)">
        close
      </span>
    </div>
    <div class="input-group mb-2 mt-2">
      <input type="text" class="form-control" placeholder="Ingrese la nueva institucion" aria-label="Nueva institucion">
      <button class="btn btn-outline-secondary" type="button" id="button-addon1">Agregar</button>
    </div>    
  </div>
</div>

<!--Seccion para editar institucion-->
<div class="card mt-1" #myDiv2 [hidden]="selectedButton !== 2">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Editar una institucion</h5>
      <span class="material-symbols-outlined close-btn" (click)="toggleDiv(0)">
        close
      </span>
    </div>
    <select id="instituciones" class="form-select form-select-lg selected-instituciones mb-1 mt-2" name="instituciones">
      <option value="" selected disabled>Seleccione una institución...</option>
      <option *ngFor="let institucion of instituciones" [value]="institucion.id">{{institucion.descripcion}}</option>
    </select>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Nuevo nombre de la institucion..." aria-label="Nueva nombre institucion">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Editar</button>
    </div>   
  </div>
</div>

<!--Seccion para eliminar institucion-->
<div class="card mt-1" #myDiv3 [hidden]="selectedButton !== 3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Eliminar una institucion</h5>
      <span class="material-symbols-outlined close-btn" (click)="toggleDiv(0)">
        close
      </span>
    </div>
    <select id="instituciones" class="form-select form-select-lg selected-instituciones mb-1 mt-2" name="instituciones">
      <option value="" selected disabled>Seleccione una institución...</option>
      <option *ngFor="let institucion of instituciones" [value]="institucion.id">{{institucion.descripcion}}</option>
    </select>
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Eliminar</button>
  </div>
</div>