#side_nav {
    background: #1F295B;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    transition: all 0.2s;
}

.logo-blanco img{
    height: 50px;
}

#side_nav span, #side_nav a {
    color: #fff;
    text-decoration: none;
}

hr.h-color {
    background: #eee;
    padding: 1px;
}

.active {
    background: hsla(228, 30%, 63%, 0.726);
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover {
    color:  #000;
}

.sidebar li a {
    color: #000;
}

@media (max-width: 990px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.actives {
        margin-left: 0;
    }
}

.hver:hover {
    cursor: pointer;
}

.animate-sublist {
    transition: 0.3s ease-out;
    overflow: hidden;
}

.close-btn {
    display: inline-block;
    margin-top: 2px;
    line-height: 1;
    right: 0 !important;
    top: 0 !important;
    position: absolute !important;
    opacity: 0.5 !important;
    box-sizing: border-box;
}