<div class="row">
  <div class="col-md-9">
    <label>Institucion</label>
    <div class="input-group mb-3 d-flex">
      <select [formControl]="institucionControl" class="form-select form-select-lg">
        <option value="" [selected]="true" [disabled]="true" >Seleccione una institucion...</option>
        <option *ngFor="let institucion of instituciones" [value]="institucion.IdInstitucion">
          {{ institucion.Detalle }}
        </option>
      </select>
    </div>  
  </div>
  
  <div class="col-md-3 mt-4 d-flex justify-content-center">
    <app-agregar-institucion class="ml-3"></app-agregar-institucion>
    <app-editar-institucion class="ml-3"></app-editar-institucion>
    <app-eliminar-institucion class="ml-3"></app-eliminar-institucion>
  </div>
</div>