<div class="row">
  <div class="col-md-11">
    <label>Institucion</label>
    <div class="input-group mb-3 d-flex">
      <select [formControl]="institucionControl" class="form-select form-select-lg">
        <option value="" [selected]="true" [disabled]="true" >Seleccione una institucion...</option>
        <option *ngFor="let institucion of instituciones" [value]="institucion.id">
          {{ institucion.descripcion }}
        </option>
      </select>
    </div>  
  </div>
  
  <div class="col-md-1 mt-4 d-flex justify-content-center">
    <app-crud-button [sourceComponent]="myComponentId"></app-crud-button>
  </div>
</div>