<div class="contenedor-flotante">
    <ng-container *ngIf="!ValidatorData">
        <div class="d-flex align-items-center">
            <strong role="status">Cargando...</strong>
            <div class="spinner-border ms-auto" aria-hidden="true"></div>
          </div>
    </ng-container>
    <ng-container *ngIf="ValidatorData">
        <div class="contenedor-header">
            <h4>Seleccione un Indicador</h4>
        </div>
        <ng-container *ngFor="let criterio of Criterios; let i = index">
            <div class="contenedor-criterio">
                <div class="contenedor-header_criterio">
                    <h5>{{ criterio.Detalle }}</h5>
                </div>
                <div class="contenedor-subcriterio">
                    <ul class="list-group">
                    <ng-container *ngFor="let subcriterio of SubCriterios; let y = index">
                        <ng-container *ngIf="subcriterio.IdCriterio === criterio.IdCriterio">
                        <li class="list-group-item">
                            <div class="contenedor-item_button">
                            <p >{{ subcriterio.Detalle }}</p>
                            <span class="material-symbols-outlined hver" (click)="toggleIndicator(i, y)">{{ SelectedSubCriterios[i] && SelectedSubCriterios[i][y] ? 'expand_less' : 'expand_more' }}</span>
                            </div>
                            <hr *ngIf="SelectedSubCriterios[i] && SelectedSubCriterios[i][y]">
                            <div class="contenedor-indicador" *ngIf="SelectedSubCriterios[i] && SelectedSubCriterios[i][y]">
                                <ul class="list-group list-group-flush">
                                    <ng-container *ngFor="let indicador of Indicadores">
                                        <ng-container *ngIf="indicador.IdSubCriterio === subcriterio.IdSubCriterio">
                                            <li class="list-group-item">{{indicador.Detalle}}</li>
                                        </ng-container>
                                    </ng-container>
                                </ul>
                            </div>
                        </li>
                        </ng-container>
                    </ng-container>
                    </ul>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>